@charset "utf-8";
$pole:750/10;
$baseColor:#44bbff;
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: "Helvetica Neue",Helvetica,'Microsoft Yahei',STHeiTi,sans-serif;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background:#f2f2f2;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
input, button, select, textarea {
	outline: 0;
	font-family: "Helvetica Neue",Helvetica,'Microsoft Yahei',STHeiTi,sans-serif;

}
input {
	-webkit-tap-highlight-color: rgba(0,0,0,0);

}
input[type="text"]{
	-webkit-appearance: none;
}
input:focus,textarea:focus {
	outline: 0;
}
li{
	list-style-type: none;
}
button {
	outline:0;
	cursor:pointer;
}
a {
	text-decoration:none;
	outline:none;
	&:active{
		outline:0 none;
	}
}
img {
	border:0;
	vertical-align:middle;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a:active {
	outline:0 none;
}
input::-webkit-input-placeholder{
    color:#999;
}
textarea{
   resize:none; 
}
textarea::-webkit-input-placeholder{
    color:#999;
}
.clearfix {
	zoom:1;
	&:after{
		clear:both;
		content:'.';
		display:block;
		font-size:0;
		line-height:0;
		visibility:hidden;
		height:0
	}
}
.al-c{
	text-align:center;
}
.dis{
	display: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.van-popup{
    .van-popup__title{
        text-align: center;
        position: relative;
        height: 98rem/$pole;
        line-height: 98rem/$pole;
        font-size: 30rem/$pole;
        color: #a1a1a1;
        a.van-popup__close{
            position: absolute;
            right:29rem/$pole;
            top: 29rem/$pole;
            height: 40rem/$pole;
            width: 40rem/$pole;
            line-height: 40rem/$pole;
            &:after{
                content: '';
                position: absolute;
                height: 2rem/$pole;
                width: 100%;
                top: 50%;
                left: 0;
                margin-top: -1rem/$pole;
                background: #999;
            }
            &:before,&:after{
                content: '';
                position: absolute;
                height: 2rem/$pole;
                width: 100%;
                top: 50%;
                left: 0;
                margin-top: -1rem/$pole;
                background: #999;
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
        
    }
    .van-popup__buttom_btn{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 96rem/$pole;
        line-height: 96rem/$pole;
        background: $baseColor;
        text-align: center;
        font-size: 30rem/$pole;
        width: 100%;
        display: block;
        color: #fff;
    }
    &.van-popup--bottom{

    }
}
.ng—close-btn{
    height: 40rem/$pole;
    width: 40rem/$pole;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        height: 2rem/$pole;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1rem/$pole;
        background: #999;
    }
    &:before,&:after{
        content: '';
        position: absolute;
        height: 2rem/$pole;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1rem/$pole;
        background: #999;
    }
    &:before{
        transform: rotate(45deg);
    }
    &:after{
        transform: rotate(-45deg);
    }
}



.ng_popup{
    border-radius:4rem/$pole;
    background: #fff;
    width: 650rem/$pole;
    h1.ng_popup_title{
        line-height: 100rem/$pole;
        text-align: center;
        color: 333;
        font-size: 28rem/$pole;
    }
    div.ng_popup_bottom{
        padding: 20rem/$pole;
        text-align: center;
    }
    .ng_popup_content{
        padding: 20rem/$pole;
    }
}


.fixhtml{
    overflow: hidden;
}


