$pole:750/10;
.content{
    margin-top: 20rem/$pole;
    //background: #fff;
    padding: 20rem/$pole;
}
h2{
    font-size: 28rem/$pole;
    line-height: 60rem/$pole;
    min-height: 40rem/$pole;
    color: #666;
    margin-top:10rem/$pole;
    max-height: 9999rem;
}